@import "tailwindcss";

:root {
  --background: #f9fafb; /* bg-gray-50 */
  --foreground: #111827; /* gray-900 */
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100-screen;
}

@theme {
  --color-primary: #16a34a; /* green-600 */
  --color-primary-dark: #15803d; /* green-700 */
}
